.jog-footer {
    background-color:#f5f5f5;
    opacity:0.9;
    position:fixed;
    z-index:1;
    bottom:0;
    width: 100vw;
    padding-top: 10px;
    left:0;
    border-top: solid 1px gray;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}