<div ng-show="dash.loading" style="position:fixed; z-index:999999;
    top:0; left:0;
    width:100vw; height:100vh;
    opacity:0.5; background-color:black">

</div>

<div class="row">
    <nav class="navbar navbar-default pull-right">
        <ul class="nav navbar-nav">
            <li><a>Hello {{dash.user.email}}!</a></li>
            <li><a href="" ng-click="dash.auth.logOut()">Log Out</a></li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-md-6">
    <h3>Jog Entries <small><btn class="btn btn-link" ng-click="dash.createJog()">create</btn></small></h3>
    </div>
    <div class="col-md-6" ng-show="dash.filteredEntries.length">
        <btn class="btn btn-large btn-primary" ng-click="dash.showWeeksSummary()">Weeks Summary</btn>
    </div>
</div>

<hr/>

<div ng-show="dash.filteredEntries.length" class="row">

    <tt-jog-date-selection date="dash.dateFilter"></tt-jog-date-selection>

</div>


<div class="row" style="max-height:80vh;overflow:auto">

    <table ng-show="dash.filteredEntries.length" class="table table-striped">

        <thead>
        <th>#</th>
        <th>Date</th>
        <th>Distance (km)</th>
        <th>Time</th>
        <th>Average (km/h)</th>
        <th>[actions]</th>
        </thead>

        <tbody>
        <tr  ng-repeat="jog in (dash.filteredEntries = dash.jogEntries | filter:dash.filter)">
            <td>{{$index+1}}</td>
            <td>{{jog.dateDisplay}}</td>
            <td>{{jog.distance}}</td>
            <td>{{jog.timeDisplay}}</td>
            <td>{{jog.average}}</td>
            <td>

                <btn class="btn btn-default btn-sm" ng-click="dash.updateJog(jog)">
                    <i class="glyphicon glyphicon-pencil"></i>
                </btn>

                <btn class="btn btn-default btn-sm" ng-click="dash.removeJog(jog)">
                    <i class="glyphicon glyphicon-trash"></i>
                </btn>
            </td>
        </tr>

        </tbody>

        <tfoot>
        <tr>
            <td colspan="2"><b>Summary:</b></td>
            <td><b>{{dash.total.distance}}</b></td>
            <td><b>{{dash.total.timeDisplay}}</b></td>
            <td><b>{{dash.total.average}}</b></td>
            <td></td>
        </tr>
        </tfoot>

    </table>

    <b ng-hide="dash.filteredEntries.length">No entries.</b>

</div>

<hr/>




