<div class="col-md-4 col-md-offset-2">
    <div class="input-group form-group">
        <input type="text" class="form-control" placeholder="From: (yyyy-mm-dd)"
               datepicker-popup="yyyy-MM-dd" ng-model="date.from"
               is-open="fromOpened" ng-required="true" close-text="Close"
                />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="fromOpened = !fromOpened"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
    </div>
</div>

<div class="col-md-4">
    <div class="input-group form-group">
        <input type="text" class="form-control" placeholder="To: (yyyy-mm-dd)"
               datepicker-popup="yyyy-MM-dd" ng-model="date.to"
               is-open="toOpened" ng-required="true" close-text="Close"
                />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="toOpened = !toOpened"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
    </div>
</div>
