<div class="modal-header">
    <h3 class="modal-title">Summary By Week</h3>
</div>
<div class="modal-body">

    <table ng-show="modal.summary.length" class="table table-striped">

        <thead>
        <th>#</th>
        <th>Week</th>
        <th>Distance (km)</th>
        <th>Time</th>
        <th>Average (km/h)</th>
        </thead>

        <tbody>
        <tr  ng-repeat="week in modal.summary">
            <td>{{$index+1}}</td>
            <td>{{week.dateDisplay}}</td>
            <td>{{week.distance}}</td>
            <td>{{week.timeDisplay}}</td>
            <td>{{week.average}}</td>
        </tr>

        </tbody>

    </table>

    <h3 ng-hide="modal.summary.length">
        No entries.
    </h3>


</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="modal.close()">Close</button>
</div>