<div class="modal-header">
    <h3 class="modal-title">{{modal.headerTxt}}</h3>
</div>
<div class="modal-body">

        <div class="row">
            <tt-jog-jog-create-edit jog-entry="modal.jog" on-done="modal.done(jog)"></tt-jog-jog-create-edit>
        </div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
</div>