<form name='form' class="jog-create-form" novalidate>
    <div class="col-md-4" ng-class="{'has-error': form.fDate.$invalid && form.fDate.$dirty}">
        <div class="input-group form-group">
            <input type="text" name="fDate" class="form-control" placeholder="yyyy-mm-dd"
                   ng-model-options="jog.ngModelOpt"
                   datepicker-popup="{{jog.datepicker.format}}" ng-model="jog.date"
                   is-open="jog.datepicker.open" ng-required="true" close-text="Close"
                    />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-class="{'btn-danger': form.fDate.$invalid && form.fDate.$dirty}"
                        ng-click="jog.datepicker.handleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="input-group form-group" ng-class="{'has-error': form.fTime.$invalid && form.fTime.$dirty}">
            <input type="text" name="fTime" class="form-control" placeholder="hh:mm:ss"
                   ng-model-options="jog.ngModelOpt"
                   ng-required="true" ng-pattern="/^((\d|[0-5]\d):){0,2}(\d|[0-5]\d)$/" ng-model="jog.time">
             <span class="input-group-addon">
                 <span class="glyphicon glyphicon-time"></span>
              </span>
        </div>
    </div>



    <div class="col-md-3">
        <div class="input-group form-group" ng-class="{'has-error': form.fDistance.$invalid && form.fDistance.$dirty}">
            <input type="text" name="fDistance" class="form-control" placeholder="7.32 (km)"
                   ng-model-options="jog.ngModelOpt"
                   ng-required="true" ng-pattern="/^\d\d*[.]?\d*$/"  ng-model="jog.distance">
             <span class="input-group-addon">
                 <span class="glyphicon glyphicon-road"></span>
              </span>
        </div>
    </div>

    <div class="col-md-1 form-group">
        <btn class="btn btn-success" ng-disabled="jog.loading || form.$invalid" ng-click="jog.createOrEdit()">
            <span class="glyphicon glyphicon-ok" ng-cloaks ng-show="!jog.loading"></span>
            <span class="glyphicon glyphicon-refresh spinning" ng-show="jog.loading"></span>
        </btn>
    </div>

    <div class="col-md-1">
        <btn class="btn btn-default" ng-click="jog.clear()" ng-show="!jog.loading">
            <span class="glyphicon glyphicon-ban-circle"></span>
        </btn>
    </div>
</form>
