<div class="col-md-6 col-md-offset-3">

    <div class="page-header">
        <h1>TopTal Jog</h1>
    </div>

    <div ng-show="login.error" class="alert alert-danger row">
        <span>{{ login.error }}</span>
    </div>

    <form style="margin-top:30px;">
        <h3>Login / Register</h3>

        <div class="form-group">
            <input type="email"
                   class="form-control"
                   placeholder="Email"
                   ng-model="login.user.email" />
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="login.user.password" />
        </div>
        <button type="submit" ng-click="login.logIn()" ng-disabled="login.loading || !login.credOK()" class="btn btn-primary">Login</button>
        <button type="login" ng-click="login.register()" ng-disabled="login.loading || !login.credOK()" class="btn btn-default">Register</button>
        <button type="button" ng-click="login.goToAdmin()" class="btn btn-link">admin?</button>
    </form>
</div>