<h2>Admin Panel</h2>

<div class="row">

    <div class="col-md-2">
        <btn class="btn btn-primary" ng-click="admin.generateToken()">
            Generate Token
        </btn>
    </div>

    <div class="col-md-6">
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-disabled="!admin.tokenTemp"
                ng-click="admin.setToken()"
                type="button">Set Token</button>
      </span>
            <input ng-model="admin.tokenTemp" type="text" class="form-control" placeholder="Paste here generated token..."/>
        </div>
    </div>


</div>

<hr/>

<div ng-show="admin.isTokenSet()" class="row">

    <h3>Users <small><btn class="btn btn-link" ng-click="admin.refreshUsers()">reload</btn></small></h3>

    <table ng-show="admin.users" class="table table-striped">

        <thead>
        <th>#</th>
        <th>Id</th>
        <th>Email</th>
        <th>[x]</th>
        </thead>

        <tbody>
        <tr  ng-repeat="user in admin.users">
            <td>{{$index+1}}</td>
            <td>{{user._id}}</td>
            <td>{{user.email}}</td>
            <td><btn class="btn btn-default btn-sm" ng-click="admin.removeUser(user)">
                <i class="glyphicon glyphicon-remove"></i>
            </btn></td>
        </tr>

        </tbody>

    </table>

    <b ng-hide="admin.users.length">No Users.</b>

</div>